---
// layout
import Layout from '../layouts/Layout.astro'

// components
import TechSkills from '../components/TechSkills/TechSkills'
import ProfessionalExperience from '../components/Resume/ProfessionalExperience.astro'
import Education from '../components/Resume/Education.astro'
import TechnicalProjects from '../components/Resume/TechnicalProjects.astro'

// types
import { Resume } from '../ts/types'

// icons
import {
    Linkedin,
    GitHub,
    ArrowIcon,
    Download,
    PDF,
    Location,
} from '../components/icons'

// sanity.io client & queries
import { client, resume as query1, picture as query2 } from '../lib/sanity'
import { urlFor } from '../util/imageBuilder'

// fetch resume from sanity.io
const response = await client.fetch(query1)
const resume: Resume = response[0]

// fetch chrisnowicki picture
const getPicture = await client.fetch(query2)
const image: string = getPicture[0].chrisnowicki

const chrisnowicki = urlFor(image).url()
---

<Layout title="Resumé | Chris Nowicki">
    <div class="flex flex-col sm:mt-4 md:mt-10 md:px-10 lg:px-0">
        <div class="mx-auto flex w-full max-w-3xl flex-col sm:px-5 md:px-0">
            {/* name and email */}
            <div
                class="mb-4 flex gap-4 rounded border border-neutral-200 p-2 text-center dark:border-gray-900 md:text-left"
            >
                <div class="flex w-1/4">
                    <img src={chrisnowicki} width="200px" class="rounded" />
                </div>
                <div class="flex w-3/4 flex-col items-center justify-center">
                    <h1 class="text-2xl md:text-5xl">{resume.name}</h1>
                    <a
                        href="mailto:chris@chrisnowicki.io"
                        class="ml-1 text-lg text-purple-600 hover:underline dark:text-purpleDark md:text-2xl"
                    >
                        {resume.email}
                    </a>
                    <p class="text-md mt-1 flex items-center md:text-xl">
                        <Location size={24} />{resume.location}
                    </p>
                </div>
            </div>

            {/* resume and social links */}
            <div
                class="mb-12 flex w-full flex-col items-center gap-4 md:flex-row"
            >
                {/* resume link */}
                <a
                    href={`${resume.resumeURL}?dl=`}
                    class="flex w-full items-center justify-between rounded-md border border-neutral-200 p-4 hover:bg-neutral-100 dark:border-gray-900 hover:dark:bg-gray-900/25"
                >
                    <div class="flex items-center gap-2">
                        <PDF size={24} />
                        Download Resumé
                    </div>
                    <Download size={24} />
                </a>

                {/* linkedin link */}
                <a
                    href={resume.linkedin}
                    class="flex w-full items-center justify-between rounded-md border border-neutral-200 p-4 hover:bg-neutral-100 dark:border-gray-900 hover:dark:bg-gray-900/25"
                    target="_blank"
                >
                    <div class="flex items-center gap-2">
                        <Linkedin size={24} />
                        Linkedin
                    </div>
                    <ArrowIcon size={12} />
                </a>

                {/* github Link */}
                <a
                    href={resume.github}
                    class="flex w-full items-center justify-between rounded-md border border-neutral-200 p-4 hover:bg-neutral-100 dark:border-gray-900 hover:dark:bg-gray-900/20"
                    target="_blank"
                >
                    <div class="flex items-center gap-2">
                        <GitHub size={24} />
                        GitHub
                    </div>
                    <ArrowIcon size={12} />
                </a>
            </div>

            {
                /* technical skills, projects, professional experience, and education */
            }
            <div>
                {/* Technical Skills */}
                <div class="-mb-8 flex w-full flex-col gap-4">
                    <div class="mb-1">
                        <h1
                            class="mb-2 text-center text-xl uppercase text-purple-600 dark:text-purpleDark md:text-left md:text-2xl"
                        >
                            Technical Skills
                        </h1>
                        <TechSkills client:load />
                    </div>
                </div>
                <!-- technical projects -->
                <TechnicalProjects />
                {/* Professional Experience */}
                <ProfessionalExperience />

                {/* Education */}
                <Education />
            </div>
        </div>
    </div>
</Layout>
