---
import ThemeToggle from './ThemeToggle'
import { client } from '../../js/client'
import { links as query } from '../../ts/queries'
import { getLinks, Links } from '../../ts/types'

// fetch navigation links from sanity.io
const response: getLinks = await client.fetch(query)
const links: Links[] = response[0].links
const showResume = response[0].showResume
const resumeURL = response[0].resumeURL
---

<div id="home" class="mb-6 flex flex-col items-center">
    <nav
        class="flex w-full max-w-3xl flex-row justify-between pt-4 pb-4 sm:items-center sm:px-10 sm:shadow md:px-0 md:shadow-none"
    >
        <!-- menu -->
        <div class="items-center sm:hidden md:flex">
            {
                links.map(
                    (link) =>
                        link.show && (
                            <a
                                href={link.reference}
                                class={`dark:text-textDark dark:hover:text-purpleDark mr-4 text-xl hover:text-purple-600 `}
                            >
                                {link.title}
                            </a>
                        )
                )
            }
        </div>

        <!-- hamburger icon -->
        <button
            class="hamburger block shadow-2xl focus:outline-none md:hidden"
            id="menu-btn"
        >
            <span class="hamburger-top bg-black dark:bg-textDark"></span>
            <span class="hamburger-middle bg-black dark:bg-textDark"></span>
            <span class="hamburger-bottom bg-black dark:bg-textDark"></span>
        </button>

        <!-- mobile menu -->
        <div class="md:hidden">
            <div
                id="menu"
                class="absolute left-6 right-6 z-10 mt-10 hidden flex-col items-center space-y-2 self-end bg-bgDark py-4 text-textDark drop-shadow-md dark:bg-gray-900 sm:w-auto sm:self-center"
            >
                {
                    links.map(
                        (link) =>
                            link.show && (
                                <a
                                    href={link.reference}
                                    class="text-textDark hover:text-purpleDark text-xl"
                                >
                                    {link.title}
                                </a>
                            )
                    )
                }
            </div>
        </div>

        <!-- sun:moon icon button for dark:light theme -->
        <div class="flex flex-row items-center justify-center">
            <ThemeToggle client:only />

            <!-- resume link -->
            {
                showResume && (
                    <div class="flex flex-row">
                        <a
                            href={`${resumeURL}?dl=`}
                            class={`dark:text-textDark dark:border-purpleDark hover:dark:bg-purpleDark durration-700 hover:text-textDark ml-4 rounded border-2 border-purple-600 px-4 py-0.5 text-xl text-purple-600 transition-all hover:rounded hover:bg-purple-600 hover:shadow-md`}
                        >
                            resumé
                        </a>
                    </div>
                )
            }
        </div>
    </nav>
</div>
