---
import ProjectCard from './ProjectCard/ProjectCard.astro'
import { client } from '../js/client'
import { featuredProjects as query } from '../ts/queries'

interface getProjects {
    projects: any[]
}

interface Projects {
    name: string
    excerpt: string
    image: string
    tags: string[]
    gitHubUrl: string
    liveSiteUrl: string
    slug: string
}

// fetch featured projects from sanity.io
const getProjects: getProjects[] = await client.fetch(query)
const projects: Projects[] = getProjects[0].projects
---

<div class="mb-16 flex w-full flex-col items-center lg:items-center">
    <h1
        id="projects"
        class="mt-1 text-center text-4xl text-purple-600 dark:text-purpleDark"
    >
        Featured Projects
    </h1>
    <p class="px-10 text-center text-lg md:mt-0 md:px-0">
        Take a look at some of my favorite projects that I've worked on below!
    </p>

    <div class="mt-6 flex w-full flex-col items-center lg:items-start">
        {
            projects.map((project, index) => (
                <ProjectCard
                    name={project.name}
                    excerpt={project.excerpt}
                    image={project.image}
                    tags={project.tags}
                    gitHubUrl={project.gitHubUrl}
                    liveSiteUrl={project.liveSiteUrl}
                    slug={project.slug}
                />
            ))
        }
    </div>
    <!-- <div class="flex w-full flex-col items-center lg:justify-center">
        <a
            href="#"
            class="rounded-lg border-2 border-purple-600 px-6 py-2 uppercase text-purple-600 hover:bg-purple-600 hover:text-textDark dark:border-purpleDark dark:text-purpleDark dark:hover:bg-purpleDark dark:hover:text-textDark"
            >more projects</a
        >
    </div> -->
    <span
        class="flex w-1/2 border-b-2 border-purple-600 border-opacity-50 dark:border-purpleDark dark:border-opacity-50"
    >
    </span>
</div>
