---
import Nav from '../components/NavBar/Nav.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
import TrackVitals from '../components/Analytics/TrackVitals.astro'

// types
import { SEO } from '../ts/types'

export interface Props {
    title?: string
}

import { inject } from '@vercel/analytics'

inject()

// sanity.io client & query
import { client, seo as query } from '../lib/sanity'
import { urlFor } from '../util/imageBuilder'

// fetch seo from sanity.io
const response = await client.fetch(query)
const seo: SEO = response[0].seo

// process image url
const image = urlFor(seo.image).url()

const { title = 'Chris Nowicki' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        />

        <!-- website meta data -->
        <title>{title}</title>
        <meta name="robots" content="follow, index" />
        <meta content={seo.description} name="description" />
        <meta property="og:url" content={seo.url} />
        <link rel="canonical" href={seo.url} />
        <meta property="og:type" content={seo.type} />
        <meta property="og:site_name" content={seo.name} />
        <meta property="og:description" content={seo.description} />
        <meta property="og:title" content={title} />
        <meta property="og:image" content={image} />

        <!-- twitter meta data -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content={seo.twitter} />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={seo.description} />
        <meta name="twitter:image" content={image} />

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon-16x16.png"
        />

        <!-- dark mode theme script -->
        <script is:inline>
            if (
                localStorage.theme === 'dark' ||
                (!('theme' in localStorage) &&
                    window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
                document.documentElement.classList.add('dark')
                localStorage.theme = 'dark'
            }
        </script>
    </head>
    <body class="bg-gray-50 ease-in-out dark:bg-bgDark dark:text-textDark">
        <div class="mx-auto flex h-screen flex-col justify-between">
            <div class="w-full">
                <Nav />
                <div>
                    <slot id="box" class="w-full" />
                </div>
            </div>
            <Footer />
        </div>
        <TrackVitals />
    </body>
</html>
