---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
import { Meta } from '../ts/types'

const meta: Meta = {
    title: 'Chris Nowicki',
    description: 'Full-Stack Developer & Technology Nerd.',
    image: 'https://chrisnowicki.io/images/chrisnowicki-banner.png',
    type: 'website',
}
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <script is:inline>
            if (
                localStorage.theme === 'dark' ||
                (!('theme' in localStorage) &&
                    window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
                document.documentElement.classList.add('dark')
                localStorage.theme = 'dark'
            }
        </script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        />

        <!-- website meta data -->
        <title>{meta.title}</title>
        <meta name="robots" content="follow, index" />
        <meta content={meta.description} name="description" />
        <meta property="og:url" content={`https://www.chrisnowicki.io`} />
        <link rel="canonical" href={`https://www.chrisnowicki.io`} />
        <meta property="og:type" content={meta.type} />
        <meta property="og:site_name" content="chrisnowicki.io" />
        <meta property="og:description" content={meta.description} />
        <meta property="og:title" content={meta.title} />
        <meta property="og:image" content={meta.image} />

        <!-- twitter meta data -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@iamwix" />
        <meta name="twitter:title" content={meta.title} />
        <meta name="twitter:description" content={meta.description} />
        <meta name="twitter:image" content={meta.image} />

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon-16x16.png"
        />
    </head>
    <body class="bg-gray-50 ease-in-out dark:bg-bgDark dark:text-textDark">
        <div class="mx-auto flex h-screen flex-col justify-between">
            <div>
                <Nav />
                <div>
                    <slot class="w-full" />
                </div>
            </div>
            <Footer />
        </div>

        <!-- js for theme check on page load and ionicons -->
        <script src="../js/theme.js"></script>
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
    </body>
</html>
